* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    text-align: center;
    font: sans-serif;
    user-select: none;
}

.top-bar {
    height: 60px;
    line-height: 60px;
    font: 18px/60px sans-serif;
    background-color: #263;
    position: relative;
}

.info-panel {
    width: 505px;
    height: 100%;
    margin: 0 auto;
    color: white;
    position: relative;
    background-color: inherit;
    user-select: none;
    cursor: default;
}

.progress-bar {
    position: absolute;
    left: -1px;
    width: 0;
    height: 100%;
    z-index: 1;
    background-color: #24a;
    border-right: 1px solid #139;
}

.txt {
    z-index: 2;
    position: absolute;
    text-shadow: 1px 1px #000;
}

.score {
    left: 0;
    padding-left: 10px;
}

.msg {
    left: 115px;
    width: 240px;
}

.life {
    right: 50px;
    padding-right: 10px;
}

.btn-menu {
    right: 0;
    width: 40px;
    height: 40px;
    margin: 10px;
    border: none;
    border-radius: 3px;
    background-color: transparent;
}

.btn-toggle:hover {
    background-color: #104008;
}

.line {
    margin: 6px;
    border-bottom: 3px solid white;
    box-shadow: 1px 1px #000;
}

.menu-list {
    position: absolute;
    right: 0;
    top: 60px;
    width: 100px;
    height: 0;
    margin-top: -1px;
    background-color: inherit;
    overflow: hidden;
    transition: 0.2s;
}

.btn-option {
    position: relative;
    height: 60px;
    border: 2px solid #251;
    border-bottom: none;
    text-shadow: 1px 1px #000;
}

.selection-list {
    position: absolute;
    top: 121px;
    right: 99px;
    width: 0;
    height: 100%;
    border-top: 2px solid #251;
    border-bottom: 2px solid #251;
    background-color: #263;
    overflow: hidden;
    transition: 0.08s;
}

.btn-role {
    display: inline-block;
    float: right;
    width: 60px;
    border-left: 2px solid #251;
}

.role-img {
    width: 100%;
    height: 100%;
    margin-top: -50%;
}

.ranking-board {
    z-index: 5;
    display: none;
    position: absolute;
    width: 516px;
    height: 750px;
    left: 50%;
    margin-left: -258px;
    top: 0;
    border-radius: 5px;
    background-color: #000;
    opacity: 0.92;
    color: #fff;
    cursor: default;
    user-select: none;
}

.board-title {
    position: relative;
    margin: 20px auto;
    height: 30px;
    line-height: 30px;
    width: 300px;
    font-size: 18px;
    border: 2px solid #555;
    border-radius: 5px;
    text-align: center;
}

.title-world {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 149px;
    height: 100%;
    border-right: 1px solid #555;
    background-color: #4156a0;
}

.title-local {
    display: inline-block;
    position: absolute;
    right: 0;
    width: 149px;
    border-left: 1px solid #555;
    height: 100%;
}

.board-content {
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 400px;
    height: 75%;
}

.remote-list {
    position: absolute;
    left: 0;
    transition: 0.3s;
}

.local-list {
    position: absolute;
    left: 100%;
    transition: 0.3s;
}

.content-list {
    margin: auto;
    /*overflow: auto;*/
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

.btn-close {
    width: 100px;
    height: 40px;
    margin-top: 30px;
    background-color: #263;
    color: #fff;
    font-size: 18px;
    border-color: #222;
    border-radius: 5px;
}

.record {
    height: 45px;
}

.odd-row {
    background-color: #111;
}

.even-row {}

.record-role {
    display: inline-block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    float: left;
    margin: auto 10px;
}

.role-img {
    width: 100%;
    height: 170%;
    margin-top: -45%;
}

.record-txt {
    display: inline-block;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
}

.record-ranking {
    float: left;
    width: 15px;
    padding-left: 5px;
    text-align: center;
    overflow: visible;
}

.record-name {
    float: left;
    width: 200px;
    text-align: left;
}

.record-score {
    float: right;
    margin-right: 10px;
}

.operation-panel {
    display: none;
    position: absolute;
    width: 360px;
    height: 160px;
    top: 596px;
    left: 50%;
    margin-left: -180px;
    user-select: none;
}

.arrow-key {
    background-color: #24519d;
    color: #fff;
    text-align: center;
    font-size: 48px;
    opacity: 0.96;
    border-radius: 20px;
}

.arrow-up {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 75px;
    line-height: 80px;
}

.arrow-down {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 75px;
    line-height: 80px;
}

.arrow-left {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -50px;
    width: 100px;
    height: 100px;
    line-height: 100px;
}

.arrow-right {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -50px;
    width: 100px;
    height: 100px;
    line-height: 100px;
}
